{#
/**
 * @file
 * Template for a Card component.
 *
 * Available config:
  * - card_header: (optional) Card header.
  * - card_footer: (optional) Card footer.
  * - card_title: (optional) Card title.
  * - card_subtitle: (optional) Card subtitle.
  * - card_body: (optional) Card body.
  * - card_text: (optional) Card text.
  * - card_link_url: (optional) Card link URL.
  * - card_link_text: (optional) Card link text.
  * - card_image_src: (optional) Card image source.
  * - card_image_alt: (optional) Card image alt text.
  * - card_image_cap: (optional) Card image caption.
  * - card_image_overlays: (optional) Card image overlays.
  * - card_body_tag: (optional) Card body tag.
  * - card_title_tag: (optional) Card title tag.
  * - card_subtitle_tag: (optional) Card subtitle tag.
  * - card_text_tag: (optional) Card text tag.
  * - card_border: (optional) Card border.
  * - card_utility_classes: (optional) Any additional classes to add to the card.
 */
#}
{% set card_title_classes = [
  'card-title'
] %}

{% set card_subtitle_classes = [
  'card-subtitle'
] %}

{% set card_header_classes = [
  'card-header'
] %}

{% set card_footer_classes = [
  'card-footer'
] %}

{% set card_body_classes = [
  'card-body'
] %}

{% set card_text_classes = [
  'card-text'
] %}

{% set card_link_classes = [
  'card-link'
] %}

{% set card_utility_classes = card_utility_classes ? card_utility_classes : [] %}
{% set card_border = card_border ? ['border-0'] : [] %}

{% set card_classes = [
  'card',
  'h-100',
  'mb-3',
]|merge(card_utility_classes)|merge(card_border) %}

{% set card_attributes = create_attribute() %}
{% set card_body_attributes = create_attribute() %}
{% set card_text_attributes = create_attribute() %}
{% set card_title_attributes = create_attribute() %}
{% set card_header_attributes = create_attribute() %}
{% set card_footer_attributes = create_attribute() %}
{% set card_subtitle_attributes = create_attribute() %}
{% set card_image_attributes = create_attribute() %}
{% set card_link_attributes = create_attribute() %}

{% if card_image_alt %}
  {% set card_image_attributes = card_image_attributes.setAttribute('alt', card_image_alt ) %}
{% endif %}

{% set card_image_classes = [
  'img-fluid',
] %}

<div {{ card_attributes.addClass(card_classes) }}>
  {% if card_header %}
    <div {{ card_header_attributes.addClass(card_header_classes) }}>
      {{ card_header }}
    </div>
  {% endif %}

  {% if card_image_overlays %}
    {% set card_image_attributes = card_image_attributes.setAttribute('src', card_image_src) %}
    {% include 'radix:image' with {
        attributes: card_image_attributes,
        image_utility_classes: card_image_classes|merge(['card-img'])
      }
    %}
    {% set card_body_classes = [
      'card-img-overlay'
    ] %}
  {% endif %}

  {% if card_image_src and card_image_cap == 'top' and not card_image_overlays %}
    {% set card_image_attributes = card_image_attributes.setAttribute('src', card_image_src) %}
    {% include 'radix:image' with {
        attributes: card_image_attributes,
        image_utility_classes: card_image_classes,
      }
    %}
  {% endif %}

  <{{ card_body_tag }} {{ card_body_attributes.addClass(card_body_classes) }}>
    {% if card_title %}
      {% include 'radix:heading' with {
        heading_html_tag: card_title_tag,
        content: card_title,
        heading_attributes: card_title_attributes,
        heading_utility_classes: card_title_classes
      }
      %}
    {% endif %}

    {% if card_subtitle %}
      <{{ card_subtitle_tag }} {{ card_subtitle_attributes.addClass(card_subtitle_classes) }}>{{ card_subtitle }}</{{ card_subtitle_tag }}>
    {% endif %}

    {% if card_body %}
      <{{ card_text_tag}}{{ card_text_attributes.addClass(card_text_classes) }}>
        {{ card_body }}
      </{{ card_text_tag}}>
    {% endif %}

    {% if card_text %}
      <{{ card_text_tag}}{{ card_text_attributes.addClass(card_text_classes) }}>
        {{ card_text }}
      </{{ card_text_tag}}>
    {% endif %}

    {% if card_link_url %}
      {% set card_link_attributes = card_link_attributes.setAttribute('href', card_link_url) %}
      <a{{ card_link_attributes.addClass(card_link_classes) }}>{{ card_link_text }}</a>
    {% endif %}
  </{{ card_body_tag }}>

  {% if card_image_src and card_image_cap == 'bottom' and not card_image_overlays %}
    {% set card_image_attributes = card_image_attributes.setAttribute('src', card_image_src) %}
    {% include 'radix:image' with {
        attributes: card_image_attributes,
        card_utility_classes: card_image_classes|merge(['card-img-bottom'])
      }
    %}
  {% endif %}

  {% if card_footer %}
    <div {{ card_footer_attributes.addClass(card_footer_classes) }}>
      {{ card_footer }}
    </div>
  {% endif %}
</div>
