{#
/**
 * @file
 * Custom implementation to display views in a grid.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapping element.
 * - title: Optional title for this group of rows.
 * - view: The view object.
 * - rows: Rendered view results.
 * - options: The view plugin style options.
 *   - row_class_default: A flag, if true default row classes should be used.
 *   - col_class_default: A flag, if true default column classes should be used.
 * - items: List of grid items, each item contains rows/columns based on alignment.
 *   - attributes: HTML attributes for each row or column.
 *   - content: A list of columns or rows, which contain:
 *     - attributes: HTML attributes for each row or column.
 *     - content: The actual contents of each row or column.
 *
 * @see template_preprocess_views_view_grid()
 */
#}
{% set view_view__grid_utility_classes = view_view__grid_utility_classes|default([]) %}

{%
  set classes = [
    'views-view--grid',
    options.alignment,
    'cols-' ~ options.columns,
    'clearfix'
  ]|merge(view_view__grid_utility_classes)
 %}

{% set row_classes = options.row_class_default ? ['views-row', options.alignment == 'horizontal'? 'clearfix'] : [] %}
{% set col_classes = options.col_class_default ? ['views-col', options.alignment == 'vertical'? 'clearfix'] : [] %}

{% if title %}
  {% include 'radix:heading' with { 
    heading_html_tag: 'h3', 
    content: title 
  } %}
{% endif %}

<div{{ attributes.addClass(classes) }}>
  {% if options.alignment == 'horizontal' %}
    {% for row in items %}
      <div{{ row.attributes.addClass(row_classes, 'row-' ~ loop.index) }}>
        {% for column in row.content %}
          <div{{ column.attributes.addClass(col_classes, 'col-' ~ loop.index) }}>
            {{- column.content -}}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  {% else %}
    {% for column in items %}
      <div{{ column.attributes.addClass(col_classes, 'col-' ~ loop.index) }}>
        {% for row in column.content %}
          <div{{ row.attributes.addClass(row_classes, 'row-' ~ loop.index) }}>
            {{- row.content -}}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  {% endif %}
</div>
