{#
/**
 * @file
 * Enhanced template for Bootstrap Modal component.
 *
 * Available config:
 * - size (string) default('') options: sm, lg, xl, fullscreen
 * - id (boolean) (default: modal-random(1000))
 * - title_id (string) (default: '')
 * - fullscreen_responsive (string) (default: '') options: sm, md, lg, xl, xxl
 * - static_backdrop (boolean) (default: false)
 * - verticaly_centered (boolean) (default: false)
 * - scrollable (boolean) (default: false)
 * - modal_header (block) (default: '')
 * - modal_body (block) (default: '')
 * - modal_footer (block) (default: '')
 * - close_button (boolean) (default: true)
 * - animation (boolean) (default: true)
 * - keyboard (boolean) (default: true)
 * - modal_attributes (drupal attribute) (default: create_attribute())
 * - modal_dialog_attributes (drupal attribute) (default: create_attribute())
 * - modal_header_classes (array) (default: [])
 * - modal_body_classes (array) (default: [])
 * - modal_footer_classes (array) (default: [])
 * - modal_utility_classes (array) (default: [])
 * - modal_dialog_utility_classes (array) (default: [])
#}

{% apply spaceless %}

{% set modal_attributes = modal_attributes ?: create_attribute() %}
{% set modal_dialog_attributes = modal_dialog_attributes ?: create_attribute() %}

{% set size =  size|default('') %}
{% set id = id|default('modal-' ~ random(1000)) %}
{% set title_id = title_id|default('title-' ~ id) %}
{% set fullscreen_responsive =  fullscreen_responsive|default('') %}
{% set static_backdrop = static_backdrop ?? false %}
{% set verticaly_centered = verticaly_centered ?? false %}
{% set scrollable = scrollable ?? false %}
{% set close_button = close_button ?? true %}
{% set animation = animation ?? true %}
{% set keyboard = keyboard ?? true %}
{% set modal_utility_classes = modal_utility_classes ? modal_utility_classes : [] %}
{% set modal_dialog_utility_classes = modal_dialog_utility_classes ? modal_dialog_utility_classes : [] %}
{% 
  set modal_classes = [
    'modal',
    animation ? 'fade' : ''
  ]|merge(modal_utility_classes) 
%}

{% 
  set modal_dialog_classes = [
    'modal-dialog',
    size ? 'modal-' ~ size,
    fullscreen_responsive ? 'modal-fullscreen-' ~ fullscreen_responsive ~ '-down',
    verticaly_centered ? 'modal-dialog-centered',
    scrollable ? 'modal-dialog-scrollable',
  ]|merge(modal_dialog_utility_classes) 
%}

{% set modal_attributes = modal_attributes
  .setAttribute('id', id)
  .setAttribute('tabindex', '-1')
  .setAttribute('aria-labelledby', title_id)
  .setAttribute('aria-hidden', 'true')
  .setAttribute('aria-modal', 'true')
  .setAttribute('role', 'dialog')
  .addClass(modal_classes)
%}

{% if static_backdrop %}
  {% set modal_attributes = modal_attributes.setAttribute('data-bs-backdrop', 'static') %}
{% endif %}

{% if not keyboard %}
  {% set modal_attributes = modal_attributes.setAttribute('data-bs-keyboard', 'false') %}
{% endif %}

<div {{ modal_attributes }}>
  <div {{ modal_dialog_attributes.addClass(modal_dialog_classes) }}>
    <div class="modal-content">
        {% if header is not empty or close_button %}
          <div class="modal-header {{ modal_header_classes|join(' ') }}">
            {% block modal_header %}
              {% if header is not empty %}
                <h5 id="{{ title_id }}" class="modal-title">{{ header }}</h5>
              {% endif %}

              {% if close_button %}
                {% include 'radix:close-button' with {
                  close_button_attributes: create_attribute({'data-bs-dismiss': 'modal', 'aria-label': 'Close'})
                } %}
              {% endif %}
            {% endblock %}
          </div>
        {% endif %}

      {% if body is not empty %}
        <div class="modal-body {{ modal_body_classes|join(' ') }}">
          {% block modal_body %}
            {{ body }}
          {% endblock %}
        </div>
      {% endif %}

      {% if footer is not empty %}
        <div class="modal-footer {{ modal_footer_classes|join(' ') }}">
          {% block modal_footer %}
            {{ footer }}
          {% endblock %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% endapply %}
